<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnGbFmXI8ZrWS_6oAnOzsGzbykqHSC3iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>355307720435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devserapps-c04be.web.app.DevserappsSystem</string>
	<key>PROJECT_ID</key>
	<string>devserapps-c04be</string>
	<key>STORAGE_BUCKET</key>
	<string>devserapps-c04be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355307720435:ios:b949faa2229bf2d975f186</string>
	<key>DATABASE_URL</key>
	<string>https://devserapps-c04be-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>